@use "theming/open-color" as *;

.layout-topbar {
    background-color: $oc-grape-3;
    background-image: linear-gradient(5deg, $oc-grape-3 0%, $oc-violet-3 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 10px;

    .middle {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex: 1;
        height: 100%;
    }

    .left,
    .right {
        // background-color: red;
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
    }
}

.layout-shell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
    background-repeat: no-repeat;
    border-collapse: collapse;
    border-radius: 0;
    border-spacing: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    // background-color: rgb(192, 232, 255);
    height: 100%;
}

.layout-main {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    padding: 0 10px;
    height: 100%;

    // background-color: #F5F6F7;
    // background-color: red;
    flex-flow: column nowrap;
    position: relative;
}

#app {
    // background-color: pink;
    height: 100%;
}