@use "theming/open-color" as *;

.layout-topbar {
    background-color: $oc-grape-5;
    // padding: 0 2.5%;
    width: 100%;
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
    // max-width: 1000px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 52px;
}

.layout-shell {
    background: red;
    align-items: stretch;
    background-color: transparent;
    background-repeat: no-repeat;
    border-collapse: collapse;
    border-radius: 0;
    border-spacing: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

.layout-main {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    width: 100%;
    background-color: #F5F6F7;
    flex-flow: column nowrap;
    min-height: 100vh;
    position: relative;
}