services:

  nginx-prod:
    image: curator-server-nginx-prod:latest
    container_name: nginx
    profiles:
      - prod
    ports:
      - "80:80"
    networks:
      - curator-server-prod

  api-prod:
    image: curator-server:latest
    container_name: api
    profiles:
      - prod
    restart: always
    env_file: .env
    environment:
      - CURATOR_MODE=api
    networks:
      - curator-server-prod
    working_dir: "/app"
    command: [ "sh", "-c", "bun index.js" ]

  nginx-dev:
    build:
      target: nginxdev
    container_name: nginx
    profiles:
      - dev
    ports:
      - "5080:80"
    networks:
      - curator-server-dev

  api-dev:
    build:
      target: base
    container_name: api
    restart: always
    profiles:
      - dev
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - CURATOR_MODE=api
    volumes:
      - .:/app:rw
    networks:
      - curator-server-dev
    working_dir: "/app/packages/curator-server"
    command: [ "sh", "-c", "bun run --hot src/index.ts" ]

  # db-dev:
  #   image: postgres:18
  #   container_name: db
  #   ports:
  #     - "5500:5432"
  #   restart: always
  #   env_file: .env
  #   networks:
  #     - curator-server
  #   volumes:
  #     - curator-server-db-dev:/var/lib/postgresql

  # redis-dev:
  #   image: redis/redis-stack
  #   container_name: redis
  #   ports:
  #     - "8001:8001"
  #   restart: always
  #   env_file: .env
  #   networks:
  #     - curator-server
  #   volumes:
  #     - curator-server-redis-dev:/var/lib/postgresql

  tool:
    build:
      target: dev
    container_name: tool
    profiles:
      - tools
    env_file: .env
    volumes:
      - .:/app:rw
    networks: [ curator-server ]
  # grafana:
  #   image: grafana/grafana
  #   container_name: grafana
  #   restart: unless-stopped
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - grafana:/var/lib/grafana
  #   networks:
  #     - curator-server

  # loki:
  #   image: grafana/loki
  #   container_name: loki
  #   restart: unless-stopped
  #   command: -config.file=/loki-config/config.yml
  #   ports:
  #     - "3100:3100"
  #   volumes:
  #     - ./.config/loki:/loki-config
  #     - loki:/loki
  #   networks:
  #     - curator-server
  # server-boss:
  #   build: .
  #   restart: always
  #   depends_on: [server-db, server-redis]
  #   env_file: curator-server/boss.env
  #   networks: [curator-server]
  #   volumes:
  #     - ./curator-server:/curator/server:ro
  #     - ./.data/server-repositories:/curator/repositories:rw
  #   command: |
  #     sh -c '
  #       if [ "$$NODE_ENV" = "production" ]; then

  #         /root/.bun/bin/bun run /curator/server/src/index.ts
  #       else
  #         /root/.bun/bin/bun run --hot /curator/server/src/index.ts
  #       fi
  #     '

  # server-redis:
  #   image: redis/redis-stack-server:7.4.0-v8
  #   restart: always
  #   networks:
  #     - curator-server
  #   volumes:
  #     - ./.data/server-redis/data:/data
  #     - ./.data/server-redis:/redis-stack.conf

  # server-db-init:
  #   build: ./curator-server
  #   depends_on:
  #     - server-db
  #     - server-redis
  #   env_file:
  #     - curator-server/.env
  #   networks:
  #     - curator-server
  #   volumes:
  #     - ./curator-server:/curator/server
  #   command: >
  #     sh -c "
  #       rm -rf ./drizzle &&
  #       /root/.bun/bin/bun run ./dev-tools/db-schemas-reinit.ts &&
  #       /root/.bun/bin/bun run drizzle-kit generate &&
  #       /root/.bun/bin/bunx drizzle-kit generate --custom --name=seed-builtin &&
  #       cp -f ./seed-data/0001_seed-builtin.sql ./drizzle/0001_seed-builtin.sql &&
  #       /root/.bun/bin/bun run drizzle-kit migrate &&
  #       /root/.bun/bin/bun run dev:db:seed-data
  #     "
  # dozzle:
  #   image: amir20/dozzle:latest
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   ports:
  #     - 8080:8080

networks:
  curator-server-prod:
    driver: bridge
  curator-server-dev:
    driver: bridge
  # volumes:
  # curator-server-db-data:
  # curator-server-redis-dev:
  # grafana:
  # loki:
