@use "theming/open-color" as *;

.layout-shell {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
}

.layout-lower {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.topbar {
    background-color: $oc-grape-4;
    height: 2rem;
    flex-shrink: 0;

    @media only screen and (max-width: 600px) {
        height: 3rem
    }
}

.content {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
}

.nav {
    flex-shrink: 0;
    background-color: $oc-gray-0;
    width: 15rem;
    height: 100%;
    overflow-y: auto;

    padding: {
        top: 5px;
    }
}

.nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;

    margin: {
        top: 5px;
    }

    padding: 5px;
    border-radius: 0 6px 6px 0;
    transition: background-color 100ms ease-in-out 0s;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    &:hover {
        background-color: $oc-grape-0;
    }

    &:active {
        background-color: $oc-grape-1;
        transition-duration: 0s;
        transition-delay: 0s;
    }

    .nav-item-icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 5px;
    }

    .nav-item-label {
        flex: 1;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}