CURATOR_MODE=api,super,worker
DATABASE_URL=
NODE_ENV="development"
SERVER_URL=http://localhost
SERVER_PORT=4000
BETTER_AUTH_SECRET=jBmkFtD05zKbXkuPYtB0SRuR7a1a2X2Q <<---not a real prod one
BETTER_AUTH_URL=${SERVER_URL}:${SERVER_PORT}