@use "theming/open-color" as *;

.hamburger {
    // background-color: $oc-indigo-1;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 42pt;
    padding: 3px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

.hamburger:hover {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}