@use "layout";
@use "theming/open-color" as *;
@use "hamburger";
@use "superbar";
// @use "components/overlay";
// @use "components/_login-form";
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }

html {
    font-family: "Noto Sans", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
    margin-bottom: 1px;
    appearance: none;
    align-items: stretch;
    background-color: transparent;
    background-repeat: no-repeat;
    border-collapse: collapse;
    border-radius: 0;
    border-spacing: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    list-style: none;
    margin: 0;
    margin-bottom: 0px;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(5deg, $oc-grape-3 0%, $oc-violet-3 100%);
    background-attachment: fixed;
    background-color: transparent;
}

body {
    background: linear-gradient(5deg, $oc-grape-3 0%, $oc-violet-3 100%);
    background-attachment: fixed;
    appearance: none;
    align-items: stretch;
    background-color: transparent;
    background-repeat: no-repeat;
    border-collapse: collapse;
    border-radius: 0;
    border-spacing: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    list-style: none;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    outline: 0;
    padding: 0;
    text-decoration: none;
    // box-sizing: border-box;
    color: #16161D;
    font-size: 15px;
    background-color: transparent;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

div {
    appearance: none;
    align-items: stretch;
    // background-color: transparent;
    background-repeat: no-repeat;
    border-collapse: collapse;
    border-radius: 0;
    border-spacing: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

input {
    font-size: 1rem;
    border-color: rgba(0, 0, 0, .4);
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 0 1rem;
    height: 35px;
    width: 200px;
}

p {
    margin: 0;
    padding: 0;
}

.code {
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
    font-weight: 400;
}

input:focus {
    cursor: text;
}

input:focus::placeholder {
    color: transparent;
}

.bone-icon {
    cursor: pointer;
    // filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}

.root-container {
    height: 100%
}

.overlay {
    background-color: $oc-grape-3;
    background-image: linear-gradient(5deg, $oc-grape-3 0%, $oc-violet-3 100%);
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: white;
    // min-width: 400px;
    // min-height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-box h1 {
    font-size: 50pt;

    margin: {
        top: 0;
        bottom: 20px;
        left: 0;
        right: 0;
    }
}

// .login-box input {}

.font-lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

button {
    color: black;
    background-color: white;
    height: 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
    border: rgba(0, 0, 0, .1) 1px solid;
    border-radius: 3px;
}

button:hover {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.social-button {
    width: 270px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 7px;
}

.social-button p {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.social-button img {
    width: 30px;
    margin-right: 10px;
}

.social-button-devbypass {
    background-color: $oc-orange-4;
    background-image: linear-gradient(70deg, $oc-red-7 0%, $oc-red-8 100%);
    color: white
}

.social-button-github {
    background-color: #25292d;
    color: white
}

.social-button-google {
    background-color: #4185f3;
    color: white
}