@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mantine-AppShell-navbar {
  background-color: #f4f6f8
}

.mantine-AppShell-header {
  background-color: red
}

.mantine-AppShell-main {
  background-color: #f4f6f8;
}

.mantine-AppShell-main .mainDiv {
  background-color: white;
  height: 500px;
  /* border-top-left-radius: 10px; */
}

.mantine-NavLink-root {
  border-radius: .3em;
  padding: 0 10px 0 10px;
  margin: 2px 0 2px 0;
  border: transparent solid .1px
}

.mantine-NavLink-root:hover {
  background-color: white;
  border: #f3e9f7 solid .1px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}